# IDE settings
.vscode

# Compiled Python
__pycache__
*.pyc

# Compiled Java
*.class

# Java/TypeScript
node_modules/
package-lock.json

# Compiled C on Windows and Linux
*.exe
*.elf

Makefile

# inputs
input*.txt

# Compiled Rust
target/
